/* Import theme fonts */
/*@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&family=Inter:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@400..700&family=Noto+Serif+Display:ital,wght@0,400..700;1,400..700&family=Onest:wght@400..700&family=Playfair+Display:ital,wght@0,400..700;1,400..700&family=Poppins:wght@500;600;700&family=Rajdhani:wght@500;600&family=Teachers:ital,wght@0,500..700;1,500..700&family=Work+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali&display=swap');*/
@font-face {
    font-family: 'Star News';
    src: url('../fonts/StarNews-ExtraLight-V1.1.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Star News';
    src: url('../fonts/StarNews-Light-V1.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Star News';
    src: url('../fonts/StarNews-Regular-V1.1.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Star News';
    src: url('../fonts/StarNews-SemiBold-V1.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Star News';
    src: url('../fonts/StarNews-Bold-V1.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Star News';
    src: url('../fonts/StarNews-Black-V1.1.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
